* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0; 
}

header {
    background-color: #28693F;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 120px;
    height: 120px;
}

h1 {
    font-size: 26px;
    margin: 10px 0;
}   

#alterarTema {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 20px;
    padding: 10px;
    border: none;
    background-color: #28693F;
    color: white;
    cursor: pointer;
}

#alterarTema:hover {
    background-color: #1b532f;
}

#selecionar-curso {
    margin: 20px; 
}

#dropdown-cursos {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

#dropdown-cursos:focus {
    outline: none;
    border-color: #28693F; 
    box-shadow: 0 0 5px rgba(40, 105, 63, 0.5);
}

#cursos {
    padding: 20px;
    margin: 0 auto; 
    text-align: center; 
}

table {
    margin: 20px auto; 
    border-collapse: collapse;
    width: 80%; 
    max-width: 800px; 
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    background-color: #28693F;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2; 
}

tr:hover {
    background-color: #ddd;
} 

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme table {
    border-color: #fff; 
}
    
.dark-theme th {
    color: #fff; 
}

.dark-theme tr:nth-child(even) {
    background-color: #555; 
}
    
.dark-theme tr:hover {
    background-color: #666;
}
