
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f0f0f0; 
}

header {
    background-color: #28693F;
    color: white;
    padding: 20px;
    text-align: center;
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme td{
    color: #fff
}

/* .dark-theme header {
    background-color: #000;
} */

.dark-theme button {
    background-color: #555;
    color: #fff;
}

button {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.row {
    margin: 20px auto;
}

.form-select {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    background-color: #fff;
    border: 1px solid #ced4da;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #f8f9fa;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
    padding: .3rem;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
    border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, .075);
}